.social-links {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.social-links a {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bs-dark-bg-subtle);
    color: #fff;
    line-height: 1;
    margin-right: 30px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.block-title {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 20px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.block {
    background-color: rgba(var(--bs-tertiary-bg-rgb), 1);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;
}

.block .icon {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bs-dark-bg-subtle);
    color: #1e90ff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.block .title {
    font-weight: bolder;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: #1e90ff;
}

.link:hover {
    text-decoration: underline;
}

.project-info {
    font-size: 14px;
}

.title-block {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
}

.title-block h1 {
    font-size: 36px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
}